.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
    border: 5px solid red;
    display: flex;
    justify-content: space-evenly;
}

.messages .message {
    color: white;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
